body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

section.features {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
}

.feature {
    text-align: center;
    max-width: 300px;
    cursor: pointer;
}

.feature img {
    width: 200px;
    height: 200px;
}

.booking {
    text-align: center;
    background-color: #eee;
    padding: 50px 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
